<div class="container">
    <div class="row footer-content text-center d-flex justify-content-around">
        <!--Contact section-->
        <div class="col-sm-3 pb-5">
            <h4 class="col-pb-3">Contact</h4>
            <a href="">Contact Us Form</a>
            <h5 class="col-pb-3">Follow Us On</h5>
            <a href="https://www.facebook.com/" class="social-icon" target="_blank" rel="noopener nofollow"
                aria-label="Link to Facebook">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://www.instagram.com/" class="social-icon" target="_blank" rel="noopener nofollow"
                aria-label="Link to Instagram">
                <i class="fab fa-instagram-square"></i>
            </a>
            <a href="https://www.twitter.com/" class="social-icon" target="_blank" rel="noopener nofollow"
                aria-label="Link to Twitter">
                <i class="fab fa-twitter-square"></i>
            </a>

        </div>
        <!--About section-->
        <div class="col-sm-3 pb-5">
            <h4 class="col-pb-3">About</h4>
            <p><a href=""><i class="fa-solid fa-shield"></i> Privacy Policy</a></p>
            <p><a href=""><i class="fa-solid fa-file"></i> Terms & Conditions</a></p>
            <p><a href=""><i class="fa-solid fa-truck"></i> Delivery Policy</a></p>
        </div>
        <!--Newsletter section-->
        <div class="col-sm-3 pb-5">
            <h4 class="col-pb-3">Subscribe to our Newsletter</h4>
        </div>
    </div>
</div>