<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="art-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Art
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="art-link">
                <a href="" class="dropdown-item">Crayons &amp; Chalk</a>
                <a href="" class="dropdown-item">Pencil Colours &amp; Markers</a>
                <a href="" class="dropdown-item">Paint &amp; Paint Brush</a>
                <a href="" class="dropdown-item">All Art</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="craft-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Craft
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="craft-link">
                <a href="" class="dropdown-item">Beads &amp; Buttons</a>
                <a href="" class="dropdown-item">Glitter &amp; Slime</a>
                <a href="" class="dropdown-item">Knitting &amp; Sewing</a>
                <a href="" class="dropdown-item">All Craft</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="stationary-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Stationary
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="stationary-link">
                <a href="" class="dropdown-item">Pen &amp; Pencils</a>
                <a href="" class="dropdown-item">Eraser &amp; Sharpner</a>
                <a href="" class="dropdown-item">Scissors &amp; Tape</a>
                <a href="" class="dropdown-item">All Stationary</a>
            </div>
        </li>
    </ul>
</div>